.about {
    max-width: 1000px;
    position: relative;
    margin: 0px auto;
    padding: 100px 0px;
}

.about-flex-container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: flex-start;
}

.about-content {
    width: 60%;
    max-width: 480px;
    /* Don't do side-by-side for now */
    width: initial;
    max-width: initial;
}

@media (max-width: 48em) {
    .about {
        padding: 100px 0px;
    }
    .about-flex-container {
        display: block;
    }
    .about-content {
        width: 100%;
    }
}

.about h4 {
    color: rgb(204, 214, 246);
    margin-top: 40px;
    margin-bottom: 20px;
}

.about .career-section {
    margin-top: 30px;
}

.about .career-title {
    color: rgb(100, 255, 218);
}

.about .career-description {
    font-style: italic;
    font-size: 16px;
    color: rgb(168, 178, 209);
}
