*,
::before,
::after {
    box-sizing: inherit;
}

:focus {
    outline: none;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(10, 25, 47);
    color: rgb(136, 146, 176);
    line-height: 1.3;
    font-family: Calibre, 'San Francisco', 'SF Pro Text', -apple-system, system-ui, BlinkMacSystemFont, Roboto,
        'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 20px;
    margin: 0px;
}

section {
    padding: 25px 0;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
    vertical-align: middle;
}

a {
    color: rgb(204, 214, 246);
}
a:hover,
a:focus {
    color: #64ffda;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: rgb(204, 214, 246);
    margin: 0px 0px 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px 0px 15px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

code,
kbd,
pre,
samp {
    width: 100%;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 1em;
    overflow-x: scroll;
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}

button {
    cursor: pointer;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
}

@media (max-width: 30em) {
    body {
        font-size: 18px;
    }
}
