.contact {
    text-align: center;
    max-width: 600px;
    padding: 150px 0px;
    margin: 0px auto 100px;
}

.contact .heading {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    color: rgb(100, 255, 218);
    font-size: 16px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-weight: normal;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 10px 0px 20px;
}

.contact .heading::after {
    content: unset;
    display: unset;
    height: unset;
    width: unset;
    background-color: unset;
    position: unset;
    top: unset;
    margin-left: unset;
}

.contact .heading::before {
    counter-increment: section 1;
    content: '0' counter(section) '.';
    margin-right: 10px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-size: 20px;
    position: relative;
    bottom: 4px;
}

.contact .heading::before {
    bottom: 0px;
    font-size: 14px;
}

@media (max-width: 62.5em) {
    .contact .heading::before {
        font-size: 13px;
    }

    .contact .heading {
        font-size: 14px;
    }
}
@media (max-width: 48em) {
    .contact {
        padding: 100px 0px;
    }
}
