footer.foot {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    min-height: 70px;
    padding: 15px;
}

footer svg {
    display: inline-block;
    height: 15px;
    width: auto;
}

.github-stars-forks svg {
    margin-right: 5px;
}

footer div.github-stars-forks > span {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 7px;
}

footer.foot {
    color: rgb(168, 178, 209);
    padding: 10px;
}

footer a,
footer a:hover,
footer a:focus {
    text-decoration: none;
}

.foot .metadata {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-size: 12px;
    line-height: 1;
}
