footer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    min-height: 70px;
    padding: 15px;
}

footer svg {
    display: inline-block;
    height: 15px;
    width: auto;
    margin-right: 5px;
}

footer div > span {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 7px;
}

footer a {
    color: rgb(168, 178, 209);
    padding: 10px;
}

footer a,
footer a:hover,
footer a:focus {
    text-decoration: none;
}

footer.mastfoot {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-size: 12px;
    line-height: 1;
}

/* Phone */
@media (max-width: 480px) {
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (min-width: 481px) {
}

/* Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 769px) {
}

/* Desktops */
@media (min-width: 1025px) and (max-width: 3200px) {
}
