.github-stats {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: flex-start;
    margin: 50px 0;
    font-size: 16px;
    font-weight: lighter;
}

.github-stats .loading {
    height: 300px;
}

.total-contribution {
    width: 40%;
    max-width: 300px;
    text-align: center;
    font-weight: initial;
}

.contribution-breakdown {
    position: relative;
    width: 60%;
    max-width: 480px;
    font-size: 18px;
}

.contribution-breakdown ul {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.contribution-breakdown ul li::before {
    content: '▹';
    position: absolute;
    left: 0px;
    color: rgb(100, 255, 218);
}

.contribution-breakdown ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-weight: 200;
}

.stat-amount {
    font-size: 20px;
    font-weight: initial;
    color: rgb(100, 255, 218);
}

.yearly-amount {
    font-size: 6em;
    font-weight: bold;
    color: rgb(100, 255, 218);
}

@media (max-width: 48em) {
    .github-stats {
        display: block;
    }

    .total-contribution {
        width: 100%;
    }

    .total-contribution,
    .contribution-breakdown {
        margin: 50px auto;
    }
}
