header.topnav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: rgb(10, 25, 47);
    z-index: 11;
    width: 100%;
    height: 70px;
    transform: translateY(0px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    padding: 0px 50px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@media (max-width: 62.5em) {
    header.topnav {
        padding: 0px 40px;
    }
}

header.topnav.shadow {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
}

header.topnav.hidden {
    transform: translateY(-110%);
}

.topnav img {
    height: inherit;
}

.topnav nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: rgb(204, 214, 246);
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    counter-reset: item 0;
    z-index: 12;
    margin-right: 4rem;
}

.topnav .brand {
    display: block;
    color: rgb(100, 255, 218);
    width: 42px;
    height: 42px;
}

.topnav .sections {
    font-size: 13px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.sections-list {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.sections-item {
    position: relative;
    font-size: 13px;
    counter-increment: item 1;
    margin: 0px 10px;
}

.sections-item::before {
    content: '0' counter(item) '.';
    text-align: right;
    color: rgb(100, 255, 218);
    font-size: 12px;
}

.sections-item a {
    padding: 12px 10px;
}

/* Phone */
@media (max-width: 480px) {
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (min-width: 481px) {
}

/* Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 769px) {
}

/* Desktops */
@media (min-width: 1025px) and (max-width: 3200px) {
}
