/* Globals */

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(10, 25, 47);
    color: rgb(136, 146, 176);
    line-height: 1.3;
    font-family: Calibre, 'San Francisco', 'SF Pro Text', -apple-system, system-ui, BlinkMacSystemFont, Roboto,
        'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 20px;
    margin: 0px;
}

section {
    padding: 25px 0;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    max-width: 1600px;
    min-height: 100vh;
    counter-reset: section 0;
    padding: 200px 150px;
    margin: 0px auto;
}

@media (max-width: 62.5em) {
    .main.fill-height {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .main.fill-height {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
@media (max-width: 62.5em) {
    .main {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
@media (max-width: 62.5em) {
    .main {
        padding: 0px 100px;
    }
}

svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
    vertical-align: middle;
}

/* Base structure */

a {
    color: rgb(204, 214, 246);
}
a:hover,
a:focus {
    color: #64ffda;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: rgb(204, 214, 246);
    margin: 0px 0px 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px 0px 15px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

*,
::before,
::after {
    box-sizing: inherit;
}

code,
kbd,
pre,
samp {
    width: 100%;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 1em;
    overflow-x: scroll;
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

a.underline {
    text-decoration: underline;
}

header.topnav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: rgb(10, 25, 47);
    z-index: 11;
    width: 100%;
    height: 70px;
    transform: translateY(0px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    padding: 0px 50px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@media (max-width: 62.5em) {
    header.topnav {
        padding: 0px 40px;
    }
}

header.topnav.shadow {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
}

header.topnav.hidden {
    transform: translateY(-110%);
}

.topnav img {
    height: inherit;
}

.topnav nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: rgb(204, 214, 246);
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    counter-reset: item 0;
    z-index: 12;
    margin-right: 4rem;
}

.topnav .brand {
    display: block;
    color: rgb(100, 255, 218);
    width: 42px;
    height: 42px;
}

.topnav .sections {
    font-size: 13px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.sections-list {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.sections-item {
    position: relative;
    font-size: 13px;
    counter-increment: item 1;
    margin: 0px 10px;
}

.sections-item::before {
    content: '0' counter(item) '.';
    text-align: right;
    color: rgb(100, 255, 218);
    font-size: 12px;
}

.sections-item a {
    padding: 12px 10px;
}

.page {
    min-height: 100%;
    min-height: 100vh;
}

.paragraph {
    margin-top: 0;
    margin-bottom: 1rem;
}

footer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    min-height: 70px;
    padding: 15px;
}

footer svg {
    display: inline-block;
    height: 15px;
    width: auto;
    margin-right: 5px;
}

footer div > span {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 7px;
}

footer a {
    color: rgb(168, 178, 209);
    padding: 10px;
}

footer a,
footer a:hover,
footer a:focus {
    text-decoration: none;
}

footer.mastfoot {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-size: 12px;
    line-height: 1;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: rgb(100, 255, 218);
    background-color: transparent;
    line-height: 1;
    cursor: pointer;
    margin-left: 10px;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 255, 218);
    border-image: initial;
    border-radius: 3px;
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: rgba(100, 255, 218, 0.07);
}

.count {
    color: rgb(100, 255, 218);
}

.intro {
    max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    padding: 0px;
}

.intro > h1 {
    color: rgb(100, 255, 218);
    font-size: 16px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-weight: normal;
    margin: 0px 0px 20px 3px;
    transition-delay: 100ms;
}

.intro > h2 {
    font-size: 80px;
    line-height: 1.1;
    margin: 0px;
    transition-delay: 200ms;
}

.intro > h3 {
    font-size: 80px;
    line-height: 1.1;
    color: rgb(136, 146, 176);
    transition-delay: 300ms;
}

@media (max-width: 62.5em) {
    .intro > h1 {
        font-size: 14px;
    }

    .intro > h2,
    .intro > h3 {
        font-size: 70px;
    }
}

.intro div {
    width: 100%;
    transition-delay: 400ms;
}

@media (max-width: 62.5em) {
    .social {
        right: 25px;
    }
}
.social {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: rgb(168, 178, 209);
}

.social-list {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.social-list::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
}

.social-item {
    padding: 10px;
}

.social-item svg {
    width: 18px;
    height: 18px;
}

.social-item:hover,
.social-item:focus {
    transform: translateY(-3px);
}

.social-item::after {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
}

.not-found {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 200px 150px;
    margin: 0px auto;
}

@media (max-width: 62.5em) {
    .not-found {
        padding: 0px 0px;
    }
}

@media (max-width: 62.5em) {
    .not-found {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.not-found.fill-height {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (max-width: 62.5em) {
    .not-found.fill-height {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.not-found h1 {
    color: rgb(100, 255, 218);
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-size: 12vw;
    line-height: 1;
}

@media (max-width: 75em) {
    .not-found h1 {
        font-size: 7rem;
    }
}

.not-found h2 {
    font-size: 3vw;
    font-weight: 400;
}

@media (max-width: 75em) {
    .not-found h2 {
        font-size: 2rem;
    }
}

.not-found code {
    width: unset;
}

.main .btn-primary {
    color: rgb(100, 255, 218);
    background-color: transparent;
    font-size: 14px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    line-height: 1;
    cursor: pointer;
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 255, 218);
    border-image: initial;
    border-radius: 3px;
    padding: 1.25rem 1.75rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

main .btn-primary:hover,
main .btn-primary:focus,
main .btn-primary:active {
    color: rgb(100, 255, 218);
    background-color: rgba(100, 255, 218, 0.07);
    font-size: 14px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    line-height: 1;
    cursor: pointer;
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 255, 218);
    border-image: initial;
    border-radius: 3px;
    padding: 1.25rem 1.75rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.github-stars-forks {
    margin-top: 10px;
}

.heading {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    font-size: 32px;
    margin: 10px 0px 40px;
}

.heading::before {
    counter-increment: section 1;
    content: '0' counter(section) '.';
    margin-right: 10px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-size: 20px;
    position: relative;
    bottom: 4px;
}

.heading::after {
    content: '';
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(48, 60, 85);
    position: relative;
    top: -5px;
    margin-left: 20px;
}
@media (max-width: 62.5em) {
    .heading::after {
        width: 200px;
    }
}

.about {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
        transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.email {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: rgb(168, 178, 209);
}

@media (max-width: 62.5em) {
    .email {
        right: 25px;
    }
}

.email-item {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.email-item::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
}

.email-item a {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-size: 12px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    margin: 20px auto;
    padding: 10px;
}

.email-item a:hover,
.email-item a:focus {
    text-decoration: none;
    transform: translateY(-3px);
}

.contact {
    text-align: center;
    max-width: 600px;
    padding: 150px 0px;
    margin: 0px auto 100px;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
        transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.contact .heading {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    color: rgb(100, 255, 218);
    font-size: 16px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-weight: normal;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 10px 0px 20px;
}

.contact .heading::after {
    content: unset;
    display: unset;
    height: unset;
    width: unset;
    background-color: unset;
    position: unset;
    top: unset;
    margin-left: unset;
}

.contact .heading::before {
    counter-increment: section 1;
    content: '0' counter(section) '.';
    margin-right: 10px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-size: 20px;
    position: relative;
    bottom: 4px;
}

.contact .heading::before {
    bottom: 0px;
    font-size: 14px;
}

@media (max-width: 62.5em) {
    .contact .heading::before {
        font-size: 13px;
    }
}

@media (max-width: 62.5em) {
    .contact .heading {
        font-size: 14px;
    }
}

.about .skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

.about .skill {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-size: 13px;
    color: rgb(136, 146, 176);
}

.about .skill::before {
    content: '▹';
    position: absolute;
    left: 0px;
    color: rgb(100, 255, 218);
    font-size: 14px;
    line-height: 12px;
}

/* Phone */
@media (max-width: 480px) {
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (min-width: 481px) {
}

/* Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 769px) {
}

/* Desktops */
@media (min-width: 1025px) and (max-width: 3200px) {
}
